<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <!-- project beans -->
    <bean id="appDao" class="pl.bekierj.java.dao.AppDAO">
    </bean>

    <!-- <bean id="dataServices" class="pl.recruitment.app.service.PersonService">
         <property name="personDAO" ref="personDao"/>
     </bean>-->

    <!--<bean id="testPublication" class="pl.bekierj.java.model.Publication">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="Java Book"/>
    </bean>-->

    <!--let Spring inject beans based on Autowired-->
    <context:component-scan base-package="pl.bekierj.java"/>

    <!--https://stackoverflow.com/questions/18053607/reading-parameter-from-properties-file-to-xml-file-->
    <!--https://help.github.com/articles/removing-sensitive-data-from-a-repository/-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/hibernate?useSSL=false"/>
        <property name="username" value="root"/>    <!--make sure it is the same on the current machine-->
        <property name="password" value=""/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="pl.bekierj.java" /> <!--look for entities in this package-->
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="generateDdl" value="true" />
                <property name="showSql" value="true" />
            </bean>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">create-drop</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

    <tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager" />



</beans>